<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Datatable Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="text"  placeholder="Type to filter the name column..." (keyup)="updateFilter($event)" />
    <ngx-datatable
      class="material"
      [limit]="7"
      [rows]="rows"
      [rowHeight]="60"
      [columns]="col"
      [columnMode]="'flex'"
      [sortType]="'multi'"
      [headerHeight]="60"
      [footerHeight]="60">
  </ngx-datatable>
</ion-content>
